img {

    width:832px;
    height:600px;
    display: block;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 100px;
}

header { /* This is the bar thingy that purpose sits in */
  height: 190px;
  line-height: 200px;
  background: #32ADA1;
  color: white;
  margin-top: -1cm;
  font-size: 60px;;
}







