
<<<<<<< HEAD


=======
>>>>>>> 3bd7c3380e683872038e55a51f0b07f0d6609cdd
#gametext{
    font-size:14pt;
    font-weight:thick;
    margin-left:2cm
}
#button{
    margin-left:2.5cm
}



h1 {
    color:black;
    text-align:center;
    font-family: "Andada";
    font-size:60px
    
}

h3 {
    font-size:17pt;
    text-align:center;
    color:black;
    font-family: "Andada"
    
    
}

#logo{
    width:1.25cm;
    height:1.25cm;
    margin-top:.25cm
}

    


#logo{
    margin-left:-2cm;
    margin-top:.2cm;
    width:1cm;
    height:1cm
}


header{
    background-color:#32ADA1;
    line-height:200px;
    height:245px;
    margin-top:-2cm
	
    
}

#title{
  margin-top:2.5cm;
color:white 
}

#p1{
    color:white
}

#seattle{
    height:5.4cm
}
#boston{
    height:5.4cm
}
#newyork{
    height:4.7cm
}









