

h1 {
    color:black;
    text-align:center;
    font-family: "Andada";
    font-size:60px
    
}

h3 {
    font-size:17pt;
    text-align:center;
    color:black;
    font-family: "Andada"
    
    
}

#logo{
    width:1.25cm;
    height:1.25cm;
    margin-top:.25cm
}

    



