
.itemactive {
 border-style: dotted   
    
}

h1 {
    color:black;
    text-align:center;
    font-family: "Andada";
    font-size:60px
    
}

h3 {
    font-size:17pt;
    text-align:center;
    color:black;
    font-family: "Andada"
    
    
}



