/* Heading */

h1 {
    font-family: Andada;
    font-size: 50px;
    text-align: center;
    color: white;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin: 0;
}

/* The Photo */
body { 
    background-image: url("lights.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
    margin: 0; 
    font-family: Andada;
    font-size: 20px;
    text-align: center;
    color: white;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin-left: 20;
}

