
h1 {
	text-align: center;
    color: black;
    font-family:"Andada";
    font-size:30pt
	}

/*add margin */  
#p1 {
    color:black;
    text-align: center;
    font-size:15pt
}


.right {
    position: absolute;
    left: 750px;
    margin-right: 3cm;
    padding: 10px;
    font-size: 20px
}


.row1 {
    margin-top: 5cm
}

