header{
    background-color:#32ADA1;
    line-height:200px;
    height:190px;
    margin-top:-1cm
    
    
}
color{
    color:#32ADA1;
}

h1 {
	margin-top:1.5cm;
    text-align: center;
    color: white;
    font-family:"Andada";
    font-size:30pt;
    font-weight:thick
	}

/*add margin */  
#p1 {
    color:white;
    text-align: center;
    font-size:14pt;
    margin-left:1cm;
    margin-right:1cm;
 
    
}

#newyorkcity
{
    color:#32ADA1;
    margin-top:2cm;
    margin-left:17cm
}
#nycpic
{
   margin-left:3cm;
}
#newyorktext
{
   color:black;
}
#sanfrantitle {
    margin-left:-20cm;
    margin-bottom:0cm;
    color:#32ADA1;
    text-align:center
}

#sanfran
{
    margin-top:.5cm;
    margin-left:1.5cm
    
}

#sanfrantext
{
    margin-left:11cm;
    margin-right:2cm;
    color:black;
    margin-bottom:1cm;
    margin-top:-5cm
    
}

#seattletitle {
    margin-left:23cm;
    margin-top:3cm;
    color:#32ADA1;
  
  
    
}

#seattletext
{
    margin-right:20cm;
    margin-left:2cm;
    margin-top:1cm
}


#map
{
  margin-left:21cm;
  margin-top:-4cm

}

.jumbotron
{
   margin-top:-13cm;
   margin-right:20cm;
    margin-left:2cm
}

#chart{
    margin-top:3cm;
    margin-left:4cm;
    color:#32ADA1
    
}

table{
   margin-top:.5cm;
   margin-right:1cm;
   margin-left:2cm;
   max-width:500px
   
}



#quoting{
   color:#32ADA1; 
   text-align:center;
   margin-top:-1cm

}




#quote
{
    margin-left:2.5cm;
    color:black;
    margin-top:-.5cm
  
    
}
#second,#first
{
    text-align:center
}

#conclusion{
    margin-left:20cm;
    margin-right:5cm;
    margin-top:-10cm;
    font-size:16pt;
    text-align:center
    
}

#logo{
    margin-top:.25cm;
    width:1.5cm;
    height:1.5cm
}

    






    




