
h1 {
	text-align: center;
    color: black;
    font-family:"Andada";
    font-size:30pt
	}

/*add margin */  
#p1 {
    color:black;
    text-align: center;
    font-size:15pt;
    margin-left:1cm;
    margin-right:1cm
    
}

#newyorkcity
{
    color:blue;
    margin-top:2cm;
    margin-left:17cm
}
#nycpic
{
   margin-left:3cm;
}
#newyorktext
{
   color:black;
}
#sanfrantitle {
    margin-left:-20cm;
    margin-bottom:0cm;
    color:purple;
    text-align:center
}

#sanfran
{
    margin-top:1cm;
    margin-left:3cm
    
}

#sanfrantext
{
    margin-left:9cm;
    margin-right:2cm;
    color:black;
    margin-bottom:1cm;
    margin-top:-5cm
    
}

#seattletitle {
    margin-left:23cm;
    margin-top:-9cm;
    color:green;
    
}

#seattletext
{
    margin-right:20cm;
    margin-left:2cm;
    margin-top:1cm
}

#seattlemap
{
   
    
}
